<div class="banner">
  <div id="carouselWrapper">
    <swiper class="mySwiper" [config]="config">
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="bannerContent">
            <figure><img src="../../assets/images/slider/img1920-1.jpg" alt=""></figure>
            <figure><img src="../../assets/images/slider/img1920-2.jpg" alt=""></figure>
            <div class="year">2019-2020</div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="bannerContent">
            <figure><img src="../../assets/images/slider/img1920-3.jpg" alt=""></figure>
            <figure><img src="../../assets/images/slider/img1920-4.jpg" alt=""></figure>
            <div class="year">2019-2020</div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="bannerContent">
            <figure><img src="../../assets/images/slider/img1920-5.jpg" alt=""></figure>
            <figure><img src="../../assets/images/slider/img1920-6.jpg" alt=""></figure>
            <div class="year">2019-2020</div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="bannerContent">
            <figure><img src="../../assets/images/slider/img2021-1.jpg" alt=""></figure>
            <figure><img src="../../assets/images/slider/img2021-2.jpg" alt=""></figure>
            <div class="year">2020-2021</div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="bannerContent">
            <figure><img src="../../assets/images/slider/img2021-3.jpg" alt=""></figure>
            <figure><img src="../../assets/images/slider/img2021-4.jpg" alt=""></figure>
            <div class="year">2020-2021</div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="bannerContent">
            <figure><img src="../../assets/images/slider/img2021-5.jpg" alt=""></figure>
            <figure><img src="../../assets/images/slider/img2021-6.jpg" alt=""></figure>
            <div class="year">2020-2021</div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="bannerContent">
            <figure><img src="../../assets/images/slider/img2122-1.jpg" alt=""></figure>
            <figure><img src="../../assets/images/slider/img2122-2.jpg" alt=""></figure>
            <div class="year">2021-2022</div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="bannerContent">
            <figure><img src="../../assets/images/slider/img2122-3.jpg" alt=""></figure>
            <figure><img src="../../assets/images/slider/img2122-4.jpg" alt=""></figure>
            <div class="year">2021-2022</div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="bannerContent">
            <figure><img src="../../assets/images/slider/img2122-5.jpg" alt=""></figure>
            <figure><img src="../../assets/images/slider/img2122-6.jpg" alt=""></figure>
            <div class="year">2021-2022</div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
<div class="centerWrap aboutContent">
  <p>V-Gnyana, co-created with LTI an virtual quizzing event with the intent of creating exposure to the concept of the
    competitive quiz, thereby inspiring students across Rural India to broaden their knowledge levels beyond the school
    curriculum. This quiz format enables the students to increase their general knowledge and awareness of current affairs alongside building a healthy competitive spirit.</p>
  <p>Over 5000+ students participated in the last 2 years, from rural government schools across Maharashtra, Karnataka, Tamil Nadu, Andhra Pradesh and Telangana.</p>
  <p>We were able to successfully pilot our first edition in 2020 through a mix of rounds (online, offline and live event). The finale was held on the LTI Campus in Bangalore. Due to COVID-19 Pandemic, we conducted V-Gnyana 2021 completely through virtual mode.</p>
  <p>The second edition was a combination of online + offline to reach more children.</p>
  <h2 class="journeyTitle"><span>Journey of V-Gnyana from the First Edition to the Third Edition</span></h2>
  <div class="journey">
    <div>
      <div class="journey-year"><div><span class="numFont">1</span><sup>st</sup></div>Edition</div>
      <div class="journey-details">
        <div>
          <img src="../../assets/images/state-icon.png" alt="">
          <div><div class="numFont">4</div>States</div>
        </div>
        <div>
          <img src="../../assets/images/school-icon.png" alt="">
          <div><div class="numFont">76</div>Schools</div>
        </div>
        <div>
          <img src="../../assets/images/student-icon.png" alt="">
          <div><div class="numFont">3,700+</div>Students</div>
        </div>
      </div>
    </div>
    <div>
      <div class="journey-year"><div><span class="numFont">2</span><sup>nd</sup></div>Edition</div>
      <div class="journey-details">
        <div>
          <img src="../../assets/images/state-icon.png" alt="">
          <div><div class="numFont">5</div>States</div>
        </div>
        <div>
          <img src="../../assets/images/school-icon.png" alt="">
          <div><div class="numFont">105</div>Schools</div>
        </div>
        <div>
          <img src="../../assets/images/student-icon.png" alt="">
          <div><div class="numFont">1,700+</div>Students</div>
        </div>
      </div>
    </div>
    <div>
      <div class="journey-year"><div><span class="numFont">3</span><sup>rd</sup></div>Edition</div>
      <div class="journey-details">
        <div>
          <img src="../../assets/images/state-icon.png" alt="">
          <div><div class="numFont">8</div>States</div>
        </div>
        <div>
          <img src="../../assets/images/school-icon.png" alt="">
          <div><div class="numFont">146</div>Schools</div>
        </div>
        <div>
          <img src="../../assets/images/student-icon.png" alt="">
          <div><div class="numFont">3,000+</div>Students</div>
        </div>
      </div>
    </div>
  </div>
</div>
