<div class="mainWrap">
  <header class="mainHeader">
    <div class="logoRow">
      <div class="poweredBy">
        <img src="../../assets/images/lti.png" alt="">
        <img src="../../assets/images/step.png" alt="">
      </div>
      <div class="brandLogo">
        <img src="../../assets/images/main.png" alt="">
      </div>
      <div class="organisedBy">
        <img src="../../assets/images/e-vidyaloka.png" alt="">
      </div>
    </div>
    <nav class="mainNav">
      <a [routerLink]="['/home']" routerLinkActive="active"><i class="icon-about-us"></i><span>About</span></a>
      <a [routerLink]="['/fixtures']" routerLinkActive="active"><i class="icon-fixture"></i><span>Fixtures</span></a>
      <a [routerLink]="['/results']" routerLinkActive="active"><i class="icon-results"></i><span>Results</span></a>
      <a [routerLink]="['/login']" routerLinkActive="active"><i class="icon-login"></i><span>Login</span></a>
      <!-- <a [routerLink]="['/logout']" routerLinkActive="active"><i class="icon-about-us"></i><span>About</span></a> -->
    </nav>
  </header>
  <div class="bodyContent">
    <div class="loginContent">
      <figure><img src="../../assets/images/login-illustration.png" alt=""></figure>
      <div>
        <form action="">
          <h2>Welcome!</h2>
          <div class="textbox">
            <input type="text" placeholder="Username">
          </div>
          <div class="textbox pswd">
            <input type="password" placeholder="Password">
          </div>
          <div class="forgotPswd">Forget Password?</div>
          <button class="formButton">Login</button>
        </form>
      </div>
    </div>

    <div class="addBoContent">
      <h2>Add Participant Details</h2>
      <div>
        <label>Select Team</label>
        <div class="selectBox"><!-- Add Select as like in quizable-->
          <select name="" id="">
            <option value="Select">Select</option>
            <option value="Choose">Team 1</option>
          </select>
        </div>
      </div>
      <div>
        <label>Select User</label>
        <div class="selectBox"><!-- Add Select as like in quizable-->
          <select name="" id="">
            <option value="Select">Select</option>
            <option value="Choose">Team 1</option>
          </select>
        </div>
      </div>
      <div>
        <label>Round 1 Score</label>
        <div class="selectBox"><!-- Add Select as like in quizable-->
          <select name="" id="">
            <option value="Select">Select</option>
            <option value="Choose">50</option>
          </select>
        </div>
      </div>
      <div>
        <label>Round 2 Base Score</label>
        <div class="selectBox"><!-- Add Select as like in quizable-->
          <select name="" id="">
            <option value="Select">Select</option>
            <option value="Choose">50</option>
          </select>
        </div>
      </div>
      <div>
        <label>Round 2 Bonus Score</label>
        <div class="selectBox"><!-- Add Select as like in quizable-->
          <select name="" id="">
            <option value="Select">Select</option>
            <option value="Choose">50</option>
          </select>
        </div>
      </div>
      <div class="btnWrap">
        <button class=formButton>Submit</button>
      </div>
    </div>
  </div>
  <footer class="mainFooter">

  </footer>
</div>
