@import url(./assets/scss/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "~ngx-toastr/toastr";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

body {
  font-family: "Roboto", sans-serif;
}

.formButton {
  width: 200px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: #ffb300;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.12s;
  &:hover {
    background: #eba80e;
  }
  &:active {
    transform: scale(0.96);
  }
}

[hidden] {
  display: none !important;
}

.overlay-container {
  .custom-center {
    min-width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
