@import url(./assets/scss/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "~ngx-toastr/toastr";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

body {
  font-family: "Roboto", sans-serif;
}

.bodyContent {
  max-width: 1200px;
  margin: 0 auto;
}

.formButton {
  width: 200px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: #ffb300;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.12s;
  &:hover {
    background: #eba80e;
  }
  &:active {
    transform: scale(0.96);
  }
}

[hidden] {
  display: none !important;
}

.mainHeader {
  margin-bottom: 50px;
}

.logoRow {
  position: relative;
  margin: 0 40px 50px;
  display: flex;
  justify-content: center;
}

.poweredBy,
.organisedBy {
  position: absolute;
  top: 0;
  &::before {
    height: 30px;
    position: absolute;
    top: 0;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    background: #e2e2e2;
    border-radius: 0 0 5px 5px;
  }
}
.poweredBy {
  left: 0;
  display: flex;
  align-items: center;
  padding-top: 40px;
  &::before {
    content: "Powered By";
    left: 0;
  }
  img {
    max-width: 110px;
    max-height: 100px;
    &:first-child {
      margin-right: 12px;
    }
  }
}
.organisedBy {
  right: 0;
  padding-top: 20px;
  &::before {
    content: "Organised By";
    right: 0;
  }
  img {
    max-height: 100px;
  }
}

.brandLogo {
  flex: 0 0 auto;
  padding-top: 40px;
  img {
    max-height: 135px;
  }
}
.mainNav {
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    margin: 0 40px;
    display: inline-flex;
    align-items: center;
    color: #121212;
    transition: 0.12s;
    i {
      font-size: 36px;
      transition: 0.12s;
    }
    span {
      font-size: 20px;
      font-weight: 500;
      margin-left: 12px;
    }
    &:hover:not(.active) {
      color: #000;
      i {
        transform: translateY(-10px);
      }
    }
    &.active {
      color: #2691d0;
      i {
        color: #ffb300;
      }
    }
  }
}
.mainFooter {
  background: #4f4f4f;
  padding: 40px;
  margin-top: 50px;
  > div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 18px;
      font-weight: 500;
      margin-right: 12px;
      color: #eee;
    }
    img {
      max-height: 100px;
    }
  }
}
.overlay-container {
  .custom-center {
    min-width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
