.banner {
  height: 50vh;
  background-image: url(../../assets/images/vs.png),
    url(../../assets/images/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 105%, cover;
}
