<div class="banner days" *ngIf="daysRemaining > 0">
  <div class="countdown">
    <div class="countdown-days">{{ daysRemaining }}</div>
  </div>
</div>
<div class="banner" *ngIf="daysRemaining <= 0">
  <div id="carouselWrapper">
    <swiper class="mySwiper" [config]="config">
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="homeCarouselContent">
            <div>
              <h4 class="tnMap">Tamilnadu Thalaivas</h4>
              <ul>
                <li>K Prithee</li>
                <li>G Hemalatha</li>
                <li>M Supriya</li>
                <li class="score" id="tn">0</li>
              </ul>
            </div>
            <div>
              <h4 class="ukMap">Uttarakhand Wonders</h4>
              <ul>
                <li>Bhatt</li>
                <li>Bhawna pandey</li>
                <li>Deepak Bhatt</li>
                <li class="score" id="ut">0</li>
              </ul>
            </div>
          </div>
          <a [routerLink]="['/results']" class="viewBtn">Leaderboard</a>
          <a
            [routerLink]="['/results']"
            fragment="youtubeWrapper"
            class="viewBtn"
            >Live Update</a
          >
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="homeCarouselContent">
            <div>
              <h4 class="knMap">Karnataka Champions</h4>
              <ul>
                <li>Kavyasree Madiwalar</li>
                <li>Thirthakumar Kumbar</li>
                <li>Pakirappa Hulakoppa</li>
                <li class="score" id="ka">0</li>
              </ul>
            </div>
            <div>
              <h4 class="mhMap">Maharashtra Warriors</h4>
              <ul>
                <li>Nikita Kate</li>
                <li>Kunal Kale</li>
                <li>Sarthak Borhade</li>
                <li class="score" id="mh">0</li>
              </ul>
            </div>
          </div>
          <a [routerLink]="['/results']" class="viewBtn">Leaderboard</a>
          <a
            [routerLink]="['/results']"
            fragment="youtubeWrapper"
            class="viewBtn"
            >Live Update</a
          >
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="homeCarouselContent">
            <div>
              <h4 class="jhMap">Jharkhand Rockstars</h4>
              <ul>
                <li>Aprajita Verma</li>
                <li>Swati Kumari</li>
                <li>Deepika Kumari</li>
                <li class="score" id="jh">0</li>
              </ul>
            </div>
            <div>
              <h4 class="apMap">Andhra Pradesh Superstars</h4>
              <ul>
                <li>K Anil Kumar</li>
                <li>B Sudhakara</li>
                <li>K Mounika</li>
                <li class="score" id="ap">0</li>
              </ul>
            </div>
          </div>
          <a [routerLink]="['/results']" class="viewBtn">Leaderboard</a>
          <a
            [routerLink]="['/results']"
            fragment="youtubeWrapper"
            class="viewBtn"
            >Live Update</a
          >
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="centerWrap">
          <div class="homeCarouselContent">
            <div>
              <h4 class="upMap">Uttar Pradesh Challengers</h4>
              <ul>
                <li>Abhishek</li>
                <li>Phoolchand</li>
                <li>Ravi</li>
                <li class="score" id="up">0</li>
              </ul>
            </div>
          </div>
          <a [routerLink]="['/results']" class="viewBtn">Leaderboard</a>
          <a
            [routerLink]="['/results']"
            fragment="youtubeWrapper"
            class="viewBtn"
            >Live Update</a
          >
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
<div class="centerWrap">
  <h1 class="lineHeading">
    <span>V-GNYANA - THIRD EDITION OF VIRTUAL QUIZ</span>
  </h1>
  <div class="homeContentRow">
    <aside>
      <p>
        With the immense support and encouragement from LTI, the virtual
        quizzing event is conducted in 3 rounds covering a breadth of topics -
        About India, Current Affairs, Health & Hygiene, and Sports across 140
        schools from 7 States (Andhra Pradesh, Jharkhand, Maharashtra,
        Karnataka, Tamil Nadu, Uttar Pradesh and Uttarakhand ) reaching 2500+
        students in teams of 3 students.
      </p>
    </aside>
    <figure><img src="../../assets/images/home1.jpg" alt="" /></figure>
  </div>
  <div class="homeContentRow">
    <figure><img src="../../assets/images/home2.jpg" alt="" /></figure>
    <aside>
      <p>
        Along with LTI Volunteer’s as pillars of this event, this year we are
        engaging 29 volunteers to conduct the semi finals for the students in
        round-2.
      </p>
      <p>
        The Finale will be conducted on 18<sup>th</sup> Feburary, where the Quiz
        Masters from Quiz Catalyst will host the competitive and interactive
        Quiz for the toppers from each state.
      </p>
    </aside>
  </div>
</div>
<div class="centerWrap bgEvents">
  <h2 class="lineHeading"><span>Event Flow</span></h2>
  <ul class="homeList" style="margin-bottom: 50px">
    <li>
      <strong class="listLabel">Round 1</strong>
      <span
        ><strong>Preliminary Round</strong> - Written-test facilitated by Field
        Teams</span
      >
    </li>
    <li>
      <strong class="listLabel">Round 2</strong>
      <span
        ><strong>Semi Finals</strong> - Online Live Quiz to be conducted by LTI
        volunteers</span
      >
    </li>
    <li>
      <strong class="listLabel">Round 3</strong>
      <span
        ><strong>Finals</strong> - Online Live quiz to be conducted by external
        Quizmasters. The Top scoring team from every state enters the national
        final. A total of 7 teams in finals representing each state.</span
      >
    </li>
  </ul>
  <h2 class="lineHeading"><span>Prizes</span></h2>
  <ul class="homeList">
    <li>
      <strong class="listLabel">Winners</strong>
      <span
        >A winner, a runner-up, and the team with outstanding performance to
        receive cash prize, trophy, medal, and certificate</span
      >
    </li>
    <li>
      <strong class="listLabel">Participants</strong>
      <span>All participants will get e-certificate and goodies</span>
    </li>
  </ul>
</div>
