.countdown {
  position: absolute;
  top: 50%;
  left: 10vw;
  transform: translateY(-50%) scale(0.5);
  transform-origin: 0 50%;
  width: 268px;
  height: 236px;
  background: url(../../assets/images/countdown.png);
  @media (min-width: 768px) {
    transform: translateY(-50%) scale(1);
  }
  @media (min-width: 1200px) {
    left: calc((100vw - 1100px) / 2);
  }
}
.countdown-days {
  font-size: 140px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 62px;
  right: 37px;
  text-shadow: 3px 3px rgb(0 0 0 / 22%);
  width: 161px;
  line-height: 0.75;
  text-align: center;
}

.homeContentRow {
  margin-bottom: 40px;
  display: flex;

  figure {
    padding: 6px;
    background-image: linear-gradient(-45deg, #8bb82d, #0cb8a9);
    box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.25);
  }
  img {
    width: 100%;
    display: block;
    border: 1px solid #fff;
  }
  p {
    font-size: 2.2rem;
    line-height: 1.6;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    aside {
      order: -1;
      margin-bottom: 20px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    aside {
      flex: 0 0 50%;
    }
    figure {
      flex: 0 0 40%;
      max-width: 40%;
      margin: 0 5%;
    }
  }
}

.bgEvents {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ececec;
}

.banner {
  background-image: url(../../assets/images/banner2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &.days {
    background-image: url(../../assets/images/banner1.jpg);
  }
}

.homeList {
  font-size: 2.2rem;
  line-height: 1.6;

  li {
    display: flex;
    align-items: flex-start;
  }

  .listLabel {
    color: #e45f00;
    flex: 0 0 150px;
    @media (max-width: 767px) {
      flex: 0 0 110px;
    }
  }
}

.homeCarouselContent {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  color: #fff;
  text-align: center;
  > div {
    flex: 0 0 45%;
    margin: 0 2%;
  }
  h4 {
    display: inline-block;
    padding: 10px 1em;
    margin-bottom: 1.2em;
    border-radius: 5px;
    font-weight: 500;
    font-size: 2rem;
    background: linear-gradient(to bottom, #3a3a3a, #000);
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 2.4rem;
      margin-bottom: 1.5em;
    }
  }

  li {
    margin-bottom: 0.8em;
    font-size: 1.8rem;
    @media (min-width: 768px) {
      font-size: 2.2rem;
      margin-bottom: 1.2;
    }
  }
}
.viewBtn {
  background-color: #f7941d;
  padding: 0.6em 1.2em;
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  @media (min-width: 768px) {
    margin-top: 30px;
  }
}
